!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.reset.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.grid.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.form.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.table.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.type.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/credits.css" }=''
    %link{:href => "screen.css", :rel => "stylesheet", :type => "text/css"}=''
    
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Ackro
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}=""
    %script{:type => "text/javascript", :src => "script/textile.js"}=""
    %script{:type => "text/javascript", :src => "script/jquery.js"}=""
    %script{:type => "text/javascript", :src => "script/jquery.gfeed.js"}=""
    %script{:type => "text/javascript", :src => "script/jquery.flickr.js"}=""
    %script{:type => "text/javascript", :src => "script/site.js"}=""
  %body
    #bg_source{:style => "display:none"}
      Image Source: http://www.flickr.com/photos/extrujado/2436864001/
    #bg
      %img{ :src => "img/dustbg.png", :height => "500", :alt => "", :width => "100%" }
    #pagetitle
      Ackro::Inc.about :entropie
    #content
      #head
      #flickr
      %div{:id => :rline}
        %div{:class => "column width1 first dark right lastfm-feed"}
          %a{:rel => "last.fm"}
        %div{:class => "column width1 first dark right twitter-feed"}
          %a{:rel => "Twitter"}
        %div{:class => "column width1 first dark right github-feed"}
          %a{:rel => "Recent Changes"}
        
      #page
        %div{:class => "column width1 first"}
        %div{:class => "column width3"}
          %div{:id => :post_content}
                  
