!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.reset.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.grid.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.form.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.table.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/baseline.type.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/credits.css" }=''
    %link{:href => "screen.css", :rel => "stylesheet", :type => "text/css"}=''
    
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Ackro::Inc.about :entropie
    %script{:type => "text/javascript", :src => "/script/jquery.js"}=""
  %body
    #bg_source{:style => "display:none"}
      Image Source: http://www.flickr.com/photos/extrujado/2436864001/
    #bg
      %img{ :src => "img/dustbg.png", :height => "500", :alt => "", :width => "100%" }
    #pagetitle
      Ackro::Inc.about :entropie
    #content
      #head
      #page
        %div{:class => "column width1 first"}
        %div{:class => "column width3"}
          %h1
            Die erste Sichtbare Überschrift Lalal und lili
        %div{:class => "column width1 first dark right"}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet,  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %div{:class => "column width3"}
          %div{:class => "rounded silver nomargin"}
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %div{:class => "column width1 first"}
        %div{:class => "column width3"}            
          %h1
            Die erste Sichtbare Überschria
        %div{:class => "column width1 first dark right"}
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %div{:class => "column width3"}
          %div{:class => "rounded silver nomargin"}
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            %p
              Lorem ipsum dolor sit aamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
