a {
  color: #947b83;
  text-decoration: none; }

#page {
  margin: 0 auto 36px auto; }

.child {
  margin-top: 100px; }

.silver {
  background-color: #020302;
  color: #6c7369; }
  .silver > div {
    padding: 20px; }
    .silver > div h1 {
      margin-top: -55px;
      margin-bottom: 30px; }

.right {
  margin-top: 0px;
  font-size: 0.7em; }
  .right p {
    padding: 10px;
    font-size: 0.7em; }

#post_content > div:first-child {
  margin-top: 0px; }
#post_content > div {
  margin-top: 50px; }
#post_content p {
  margin-bottom: 15px; }
#post_content .author {
  text-align: right; }
#post_content blockquote {
  color: silver;
  background-color: inherhit !important; }

.nomargin {
  margin: 0px;
  padding: 0px; }

.rounded > p {
  padding: 20px; }
.rounded:before {
  background: url(img/corner-top-right.png) no-repeat top right;
  margin-bottom: -20px;
  height: 30px;
  display: block;
  border: none;
  content: url(img/corner-top-left.png);
  padding: 0px;
  line-height: 0.1;
  font-size: 1px; }
.rounded:after {
  background: url(img/corner-bottom-right.png) no-repeat top right;
  margin: 0 0 -1px 0;
  height: 30px;
  display: block;
  border: none;
  content: url(img/corner-bottom-left.png);
  padding: 0px;
  line-height: 0.1;
  font-size: 1px; }

body {
  font-family: Arial, serif;
  font-size: 16px;
  background: #fff;
  background-color: #000;
  color: #767676;
  margin: 0px;
  padding: 0px; }

#bg {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -50; }

#pagetitle {
  position: fixed;
  top: 20px;
  right: 40px;
  color: #d5e7dc;
  font-size: 2em;
  text-shadow: 0 0 8px silver;
  z-index: 200; }

h1 {
  font-size: 1.8em;
  margin-bottom: 0px;
  letter-spacing: 2px;
  text-shadow: 1px 0 1px grey, 1px 1px 1px #000;
  color: #121511;
  margin-bottom: -28px;
  padding-left: 60px;
  margin-top: 20px; }
  h1:after {
    height: 64px;
    width: 100px;
    display: block;
    position: absolute;
    top: -20px;
    right: -55px;
    content: url(img/banner-small.gif);
    opacity: .1;
    z-index: 150; }

.dark {
  color: #424242; }

#head {
  margin-top: 470px; }

#rline {
  z-index: 100;
  background-color: #000;
  position: absolute;
  top: 0px;
  width: 250px;
  padding: 10px;
  padding-right: 5px;
  left: 90px;
  opacity: 0.4; }
  #rline:hover {
    opacity: .8; }

#flickr {
  z-index: 100;
  margin-bottom: 60px; }
  #flickr ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 20px; }
    #flickr ul li img {
      border: 6px solid transparent;
      opacity: 0.25; }
      #flickr ul li img:hover {
        opacity: 1; }

#content {
  color: inherit; }

.gfc-control div {
  margin: 0px;
  padding: 0px; }
.gfc-control .gfc-resultsRoot .gfc-resultsHeader {
  border: none;
  font-size: 2em; }
.gfc-control .gfc-resultsRoot .gfc-result .gf-result .gf-title {
  padding-right: 3px; }
  .gfc-control .gfc-resultsRoot .gfc-result .gf-result .gf-title a {
    text-decoration: none;
    color: #135b1b; }
.gfc-control .gfc-resultsRoot .gfc-result .gf-result .gf-spacer {
  display: none; }
.gfc-control .gfc-resultsRoot .gfc-result .gf-result .gf-author {
  color: #0e130e; }
.gfc-control .gfc-resultsRoot .gfc-result .gf-result .gf-relativePublishedDate {
  display: none; }
.gfc-control .gfc-resultsRoot .gfc-result .gf-result .gf-snippet {
  color: #344736;
  margin-bottom: 15px; }

.lastfm-feed {
  background: url(img/last-fm-bg.png) no-repeat top right;
  height: 160px;
  padding: 5px; }
  .lastfm-feed .gf-snippet {
    display: none; }
  .lastfm-feed a, .lastfm-feed a:link, .lastfm-feed a:visted {
    text-decoration: none;
    color: red; }
  .lastfm-feed .gfc-title {
    color: #203f0b !important; }

.twitter-feed {
  background: url(img/twitter-bg.png) no-repeat top right;
  width: 244px;
  height: 160px; }
  .twitter-feed .gfc-title {
    color: #541d52 !important; }
  .twitter-feed a {
    color: #80537e !important; }
  .twitter-feed .gfc-control {
    padding: 5px; }
  .twitter-feed .gf-snippet {
    display: none; }
  .twitter-feed .gf-title {
    color: green;
    padding: 3px; }

.github-feed {
  background: url(img/github-bg.png) no-repeat top right;
  width: 244px;
  height: 160px; }
  .github-feed .gfc-title {
    color: #281a06 !important; }
  .github-feed .gfc-control {
    padding: 5px; }
  .github-feed a {
    color: #3d1603 !important; }
  .github-feed .gf-snippet {
    white-space: pre;
    color: grey; }
  .github-feed .gf-author {
    color: #8f602a !important; }
