body
  :color #000
  :font-family Arial, serif
  :font-size 16px
  :background #fff
  :background-color #000
  :color #fab444
  :margin 0px
  :padding 0px


#bg
  :width 100%
  :height 100%
  :left 0px
  :top 0px
  :position absolute
  :z-index -50


#pagetitle
  :position absolute
  :top 20px
  :right 40px
  :color #d5e7dc
  :font-size 2em
  ://text-shadow 5px 5px #666
  ://text-shadow 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000
  :text-shadow 0 0 8px silver


h1
  :height 50px
  :background url(img/h1-bg.png) top left repeat-x
  :height 50px
  :font-size 1.8em
  :margin-left -250px
  :position relative
  :margin-bottom 0px
  :letter-spacing 10px
  :text-shadow 1px 0 2px #242220, 1px 1px 2px orange

  >
    img
      :position absolute
      :top 12px
      :left 200px
      :color #171512
      :letter-spacing 4px
      :opacity 0.4

    span
      :position absolute
      :top 7px
      :left 250px
      :color #171512
      :letter-spacing 4px

  &:before
    :margin 0px
    :content url(img/h1-before-bg.png)


p
  :line-height 30px
  :margin-top 10px
  :padding 15px
  :color #424242
  :width 500px
  :background-color #090807
  :margin-bottom 50px


#content
  :z-index 100
  :margin-top 440px
  :margin-left 350px
